<main class="about">
	<app-info-box title="About">
		<p>
			This project is a demo of rendering PLY point clouds with Gaussian splats using Angular and Three.js.
		</p>
		<p>
			This version only shows the point clouds, but soon will include a proper Gaussian splatting implementation with EWA filtering,
		</p>
	</app-info-box>


	<app-info-box title="Developer">
		<ul>
			<li *ngFor="let l of links.dev"><a [href]="l.href" target="_blank" rel="noopener">{{ l.label }}</a></li>
		</ul>
	</app-info-box>


	<app-info-box title="Get">
		<ul>
			<li *ngFor="let l of links.project"><a [href]="l.href" target="_blank" rel="noopener">{{ l.label }}</a></li>
		</ul>
	</app-info-box>
</main>
